.Appointment {
  --font: "Roboto", sans-serif;
  --darkColor: #0f2d46;
  --mediumColor: #5e5c5f;
  --lightColor: #bdbdbd;
  --blueColor: #11525c;
  color: var(--darkColor);
  background-color: rgb(238, 237, 237);
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
}
.Appointment .row {
  display: flex;
}
.Appointment .col {
  flex-direction: column;
}
.Appointment .details {
  justify-content: space-between;
}
.Appointment .info {
  min-width: 80%;
  max-width: 80%;
}
.Appointment h2 {
  margin: 0;
}
.Appointment .colorCont {
  min-width: 20%;
  max-width: 20%;
}
.Appointment .swatchCont {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 5px;
}
.Appointment .swatch {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}
.Appointment #colorPicker {
  border-top: 1px dotted var(--darkColor);
  justify-content: center;
  padding: 5px 0 0 5px;
}

.Appointment textarea {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
  border: none;
  padding: 10px;
  font-family: var(--font);
}
