nav {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2;
  border-top: 1px solid var(--lightColor);
  padding: var(--padding);
  align-items: left;
}
.Nav Button .i {
  width: 20px;
  padding-right: 4px;
}
.Nav Button {
  border-bottom: 2px solid transparent;
  transition: 300ms;
}
.Nav Button:hover {
  border-bottom: 2px solid black;
}
