body {
  --font: "Roboto", sans-serif;
  --darkColor: #0f2d46;
  --mediumColor: #5e5c5f;
  --lightColor: #bdbdbd;
  --blueColor: #11525c;
  --padding: 10px;
  font-family: var(--font);
  font-size: 16px;
  color: var(--lightColor);
}
.App {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  max-width: 1200px;
  min-width: 875px;
  margin: 20px auto;
  border-radius: 5px;
}
